.Project {
	min-width: 350px;
}

.imageContainer {
	width: 100%;
}

img {
	width: 100%;
	height: auto;
	border-radius: 10px;
	border: 1px solid #606060;
	margin: 0 auto;
	padding: 0.3rem;
}

img:hover {
	opacity: 0.5;
	border-color: #eece1a;
	transition: all 0.5s ease-out;
}

.BtnDark {
	background: black;
	color: #fff;
	display: block;
	padding: 0.5rem 1rem;
	border: 0;
	border-radius: 10px;
	margin-bottom: 0.3rem;
	text-decoration: none;
}

.BtnDark:hover {
	background: #eece1a;
	color: #000;
}

.Description {
	padding: 10px 10px;
	height: 120px;
	max-height: 120px;
	overflow: auto;
	color: #fff;
	background-color: #212121;
	border-radius: 12px;
	font-size: 17px;
	margin-bottom: 0.5rem;
}

.Description::-webkit-scrollbar {
	width: 10px;
	background-color: #202020;
}

.Description::-webkit-scrollbar-thumb {
	background-color: #393939;
	border-radius: 12px;
	border: 1px solid #606060;
}

.Title {
	color: #fff;
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	margin: auto;
}
