h1,
h2,
h3 {
	margin: 0;
	font-weight: 400;
	color: #fff;
}

.About {
	min-width: 360px;
}

.AboutInfo {
	display: grid;
	grid-gap: 30px;
	grid-template-areas: 'bioimage bio bio' 'job1 null null';
	grid-template-columns: repeat(3, 1fr);
	padding-bottom: 50px;
}

.Bio {
	grid-area: bio;
	min-width: 350px;
	font-size: 1.3rem;
}

.BioImage {
	grid-area: bioimage;
	margin: auto;
}
.Job1 {
	grid-area: job1;
	min-width: 350px;
	color: #fff;
}

.Job {
	background: #515151;
	padding: 0.5rem;
	border-bottom: #eece1a 5px solid;
}

@media screen and (max-width: 768px) {
	.AboutInfo {
		transition: all 0.8s ease-out;
		grid-template-areas: 'bioimage' 'bio' 'job1';
		grid-template-columns: 1fr;
	}

	.About {
		background: #454545;
		transition: all 0.8s ease-out;
	}
}

@media screen and (max-width: 450px) {
	.About {
		padding: 0.5rem;
		transition: all 0.8s ease-out;
	}
	.BioImage {
		margin: 0 auto;
	}
}
