h1,
h2,
h3 {
	margin: 0;
	font-weight: 400;
	color: #fff;
}

.GridContainer {
	display: grid;
	grid-gap: 2rem;
	padding-bottom: 50px;
	min-width: 240px;
}

.BioImage {
	margin: 0 auto;
}

.Job {
	padding: 1rem;
	border-bottom: #eece1a 5px solid;
}

@media screen and (min-width: 768px) {
	.GridContainer {
		grid-template-columns: 1fr 2fr;
	}
	.Bio {
		font-size: 18px;
	}
}
