.GridContainer {
	display: grid;
	grid-gap: 2rem;
	padding-bottom: 50px;
}

.BioImage {
	margin: 0 auto;
}

.Job {
	padding: 1rem;
	border-bottom: #eece1a 5px solid;
}

@media screen and (min-width: 768px) {
	.GridContainer {
		grid-template-columns: 1fr 2fr;
	}
	.Bio {
		font-size: 120%;
	}
} 
