.MenuBranding {
  background-color: hsl(210deg 100% 10%);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  transform: translate3d(0, 100%, 0);
  float: left;
}

.Show {
  transition: all 0.5s ease-out;
  transform: translate3d(0, 0, 0);
}
@media screen and (max-width: 750px) {
  .MenuBranding {
    margin-top: 60px;
    width: 100%;
    min-height: 0;
    height: 25vh;
    transform: translate3d(100%, 0, 0);
  }

  .Show {
    transform: translate3d(0, 0, 0);
  }
}

.Portrait {
  width: 250px;
  height: 250px;
  background-image: url(../../assets/images/profile.jpg);
  background-size: cover;
  border-radius: 20%;
  border: 2px solid #eece1a;
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .Portrait {
    width: 150px;
    height: 150px;
    transition: all 0.8s ease-out;
  }
}
