.MenuBranding {
	background: #444;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100vh;
	overflow: hidden;
	opacity: 0.9;
	transform: translate3d(0, 100%, 0);
	transition: all 0.5s ease-out;
	float: left;
}

.Show {
	transform: translate3d(0, 0, 0);
}
@media screen and (max-width: 750px) {
	.MenuBranding {
		margin-top: 80px;
		width: 100%;
		min-height: 0;
		height: 25vh;
		transform: translate3d(100%, 0, 0);
	}

	.Show {
		transform: translate3d(0, 0, 0);
	}
}
