.CustomHeading {
	margin-top: 60px;
	transition: all 0.8s ease-out;
}

.LgHeading {
	font-size: 5rem;
	padding: 1rem;
}

.Caption {
	border-radius: 5px;
	margin-bottom: 2rem;
	padding: 0.2rem 1rem;
	font-size: 2rem;
	background: rgba(73, 73, 73, 0.3);
}

.SecondaryName {
	color: #eece1a;
}

@media screen and (min-width: 768px) {
	.LgHeading {
		font-size: 5rem;
	}
}

@media screen and (min-width: 442px) and (max-width: 768px) {
	.LgHeading {
		font-size: 4rem;
	}
	.Caption {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 442px) {
	.LgHeading {
		font-size: 2rem;
	}
	.Caption {
		font-size: 1rem;
	}
}
