.Portrait {
	width: 250px;
	height: 250px;
	background-color: #444;
	background-image: url(../../../assets/images/portrait.jpg);
	background-size: cover;
	border-radius: 50%;
	border: 3px solid #eece1a;
	z-index: 3;
}

@media screen and (max-width: 750px) {
	.Portrait {
		width: 150px;
		height: 150px;
		transition: all 0.8s ease-out;
	}
}
