.Portrait {
	width: 250px;
	height: 250px;
	background-image: url(../../../assets/images/profile.jpg);
	background-size: cover;
	border-radius: 20%;
	border: 2px solid #eece1a;
	z-index: 3;
}

@media screen and (max-width: 768px) {
	.Portrait {
		width: 150px;
		height: 150px;
		transition: all 0.8s ease-out;
	}
}
