---
import BaseLayout from '../layouts/BaseLayout.astro';
import CustomHeading from '../components/CustomHeading.astro';
import JobCard from '../components/JobCard.astro';
import ContainerWithTitle from '../components/ContainerWithTitle.astro';
import Portrait from '../components/Portrait.astro';

import { bio } from '../data/bio';
import { jobs } from '../data/jobs';
---

<BaseLayout title="About">
  <main>
    <CustomHeading mainHeading="About " secondaryHeading="Me" caption="A few things about me..." />
    <div class="gridContainer">
      <div class="bioImage">
        <Portrait />
      </div>
      <ContainerWithTitle title="Bio">
        <p class="bio">{bio}</p>
      </ContainerWithTitle>
    </div>
    <ContainerWithTitle title="Professional Experience">
      {jobs.reverse().map((job) => <JobCard job={job}} />)}
    </ContainerWithTitle>
  </main>
</BaseLayout>

<style>
  .gridContainer {
    display: grid;
    grid-gap: 2rem;
    padding-bottom: 50px;
  }

  .bioImage {
    margin: 0 auto;
  }

  .job {
    padding: 1rem;
    border-bottom: #eece1a 5px solid;
  }

  @media screen and (min-width: 768px) {
    .gridContainer {
      grid-template-columns: 1fr 2fr;
    }
    .bio {
      font-size: 120%;
    }
  }
</style>
