---
import CustomHeading from '../components/CustomHeading.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

import { projects } from '../data/projects';
import ProjectCard from '../components/ProjectCard.astro';
---

<BaseLayout title="My Work">
  <main class="myWork">
    <CustomHeading mainHeading="My " secondaryHeading="Work" caption="Check out some of my projects..." />
    <div class="projects">
      {
        projects
          .slice(0)
          .reverse()
          .map((project) => <ProjectCard project={project} />)
      }
    </div>
  </main>
</BaseLayout>

<style>
  .myWork {
    transition: all 0.8s ease-out;
  }

  .projects {
    display: grid;
    grid-gap: 2rem;
  }

  @media (min-width: 768px) {
    .projects {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
