.Header {
	position: fixed;
	width: 100%;
}
.Menu {
	position: fixed;
	top: 0;
	width: 100%;
	visibility: hidden;
}

.Show {
	visibility: visible;
}

.NavBar {
	height: 60px;
	width: 100%;
	position: fixed;
	z-index: 5;
	background-color: hsl(227deg 87% 3%);
}
