---
import '@fortawesome/fontawesome-free';
import svg from '../assets/images/astro-logo-light.svg';
---

<footer>
  <div>
    <span>Powered by</span>
    <a href="https://astro.build"><img src={svg} alt="Astro" /></a>
    <span>© 2023</span>
  </div>
</footer>

<style>
  footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 4rem;
    background-color: hsl(227deg 87% 3%);
    color: white;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 5rem;
    margin: 0 1em;
  }

  footer p {
    font-size: 20px;
  }

  footer p span {
    font-size: 28px;
  }

  @media screen and (max-width: 450px) {
    footer {
      height: 50px;
      transition: all 0.5s ease-out;
    }

    footer p {
      font-size: 16px;
    }

    footer p span {
      font-size: 18px;
    }
  }
</style>
