---
import MenuIcon from './MenuIcon/MenuIcon';
import Menu from './Menu/Menu';
---

<header>
  <div class="navbar">
    <MenuIcon client:load />
  </div>
  <Menu client:load />
</header>

<style>
  header {
    position: fixed;
    width: 100%;
  }
  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .navbar {
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 5;
    background-color: hsl(227deg 87% 3%);
  }
</style>
