.InfoContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 1rem;
}
.InfoBox {
	border-radius: 10px;
	font-size: 28px;
	text-align: center;
	width: 48%;
	border: 2px #fff solid;
	padding: 1.5rem 1rem;
	margin-bottom: 3rem;
	transition: all 0.8s ease-out;
	color: #fff;
}
.InfoBox:hover {
	background: #EECE1A;
	color: #000;
}
.InfoBox:hover span {
	color: #000;
}

.Text {
	color: #eece1a;
}

@media screen and (max-width: 960px) {
	.InfoBox {
		font-size: 22px;
	}
}

@media screen and (max-width: 768px) {
	.InfoBox {
		width: 90%;
		padding: 0.7rem 1rem;
		margin-bottom: 2rem;
	}
}

@media screen and (max-width: 442px) {
	.InfoBox {
		font-size: 1rem;
		padding: 0.5rem 0.5rem;
	}
}
