.Footer {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 60px;
	background: #232323;
	color: white;
	text-align: center;
}

.Footer p {
	font-size: 24px;
	margin: 8px auto;
}

.Footer p span {
	font-size: 28px;
}

.Icon {
	margin-left: 10px;
	color: rgb(50, 173, 245);
}

@media screen and (max-width: 450px) {
	.Footer {
		height: 50px;
		transition: all 0.5s ease-out;
	}

	.Footer p {
		font-size: 16px;
	}

	.Footer p span {
		font-size: 18px;
	}
}
