.Footer {
	position: relative;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 60px;
	background-color: hsl(227deg 87% 3%);
	color: white;
}

.Footer p {
	font-size: 24px;
}

.Footer p span {
	font-size: 28px;
}

.Icon {
	margin-left: 10px;
	color: rgb(50, 173, 245);
}

@media screen and (max-width: 450px) {
	.Footer {
		height: 50px;
		transition: all 0.5s ease-out;
	}

	.Footer p {
		font-size: 16px;
	}

	.Footer p span {
		font-size: 18px;
	}
}
