.Popup {
	position: absolute;
	z-index: 20;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
	border: 2px solid silver;
	margin: 0 auto;
	padding: 0;
	transition: all 0.5s ease-out;
	transform: translate3d(0, -100vh, 0);
	opacity: 0;
}

.Show {
	transform: translate3d(0, 10vh, 0);
	opacity: 1;
}

@media screen and (max-width: 768px) {
	.Popup,
	.Popup img {
		width: 600px;
	}
}

@media screen and (max-width: 550px) {
	.Popup,
	.Popup img {
		width: 400px;
	}
}
